.calculator {
	width: 300px;
	margin: 50px auto;
	background-color: #f7f7f7;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
	background-color: #e5e5e5;
	padding: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#display {
	font-size: 36px;
	text-align: right;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding: 20px;
}

button {
	background-color: #fff;
	border: none;
	padding: 20px;
	font-size: 24px;
	border-radius: 10px;
	cursor: pointer;
}

button:hover {
	background-color: #e5e5e5;
}